go2see.xyz
{
    proxy / https://jack6liu.wordpress.com/ {
        header_upstream -Origin
    }
}

ws0.go2see.xyz
{
    proxy / https://jack6liu.wordpress.com/ {
        header_upstream -Origin
    }
}

h20.go2see.xyz
{
    proxy / https://jack6liu.wordpress.com/ {
        header_upstream -Origin
    }
}
