{
http_port 80
https_port 443
}

fly.go2see.xyz
tls me@go2see.xyz
route {
    forward_proxy {
        basic_auth JIxniClk fabdc96a23df52a3f8a83053194809f2
        hide_ip
        hide_via
        probe_resistance www.digitalocean.com
    }
    file_server { root /var/www/html }
}

